.base{
    background-color: #EBF5F6;
    height: auto;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    padding-bottom: 40px;
}


